body {
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

table {
  font-size: 1rem;
}
#introduction p, #methods p, #analysis-and-results p {
  text-align: justify;
}
#title-slide, div.reveal div.slides section.quarto-title-block {
  text-align: center;
}
.level2 p, .level2 ol {
  font-size: 20px;
}
.credit_smaller {
  font-size: small;
  text-align: center;
}